html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #555e58;
  background-color: #f5f5f5;
}

h1 {
  color: black;
  text-shadow: 4px 4px 4px #aaa;
}

.topnavcentre {
  width: 600px;
  margin: 0 auto;
}

.topnav {
  list-style-type: none;
  background-color: #17395E;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 50px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0a1b2d;
}

.class1 {
  color: black;
  font-style: sansserif;
}

body, html {
  height: 100%;
}

.hero-image {
  background-image: url("../../Pictures/PEILighthouse.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 5px solid black;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  background-color: #17395E;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #0a1b2d;
}

/*.wrapper {
  display: flex;
}*/

.footer-partner {
  float: left;
  width: 300px;
  height: 255px;
  padding: 0 10px 0 10px;
}

#footer-bottom {
  border-top: 1px solid #e0dddd;
  box-shadow: none;
}

.social {
  background: #C8B28F;
  text-align: center;
  font-size: 60px;
}

.social a {
  color: #17395E;
  padding: 10px;
}

.social a:hover {
  color: #0a1b2d;
}

main {
  display: flex;
  box-sizing: inherit;
}

main .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tttools {
  background: #17395E;
  border-radius: 10px;
}

.contactinfo {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
/*This is my Media Queries*/

@media (min-width: 10px) and (max-width: 480px) {
  .wrapper {
    display: inline-block;
    width: 100%;
  }
  .mainphoto {
    width: 100%;
  }
  .logo {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    display: inline-block;
    width: 100%;
  }
  .mainphoto {
    width: 100%;
  }
  .logo {
    width: 100%;
  }
  .tttools {
    display: inline-block;
    width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrapper {
    display: inline-block;
    width: 100%;
  }
  .mainphoto {
    width: 49%;
  }
  .logo {
    width: 50%;
  }
}

@media (min-width: 993px) {
  .wrapper {
    display: inline-block;
    width: 100%;
  }
  .mainphoto {
    width: 49%;
  }
  .logo {
    width: 25%;
  }
}

/*ContactU Us Page CSs*/
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
}

input[type=submit] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    background-color: #17395E;
    color: white;
}

input[type=submit]:hover {
    background-color: #0a1b2d;
}
input:focus {
  outline: blue;
}
